<h1>DRAGON BALL Z</h1>
<hr>

<div class="row">
  <div class="col">
    <!-- Se asocia el personajes del @Input con el del main-page -->
    <app-personajes [listaPersonajes]="personajes"></app-personajes>
  </div>

  <div class="col">
    <h3>Agregar <small>{{nuevo.nombre}}</small></h3>
    <hr>

    <form (ngSubmit)="agregar()">

      <input name="nombre"
             [(ngModel)]="nuevo.nombre"
             placeholder="Nombre"
             type="text">

      <input name="poder"
             [(ngModel)]="nuevo.poder"
             placeholder="Poder"
             type="number">

      <button>
        Agregar
      </button>
    </form>

  </div>
</div>
