<h1>DRAGON BALL Z</h1>
<hr>

<div class="row">
  <div class="col">
    <h3>Personajes</h3>
    <hr>
    <ul>
      <li *ngFor="let personaje of personajes;">
        {{personaje.nombre}} - {{personaje.poder | number}}
      </li>
    </ul>
  </div>

  <div class="col">
    <h3>Agregar <small>{{nuevo.nombre}}</small></h3>
    <hr>

    <form (ngSubmit)="agregar()">

      <input name="nombre"
             [(ngModel)]="nuevo.nombre"
             placeholder="Nombre"
             type="text">

      <input name="poder"
             [(ngModel)]="nuevo.poder"
             placeholder="Poder"
             type="number">

      <button>
        Agregar
      </button>
    </form>

  </div>
</div>
